<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bulk Account Solution</title>
    <style type="text/css">
        .field {
            width: 200px;
            padding: 5px;
        }

        .signature {
            min-width: 50px;
        }

        .item {
            background: #fff;
        }

        .alt {
            background: #fff;
        }
    </style>
</head>
<body style="font-family: Rockwell; font-size: 12px; font-weight: bold; width: 100%;">
    <br />
    Hello &nbsp; #FullName#,<br />
    <br />
    <strong>#Message#</strong><br />.
    <br />
    <br />
    <br />

    <span style="font-size: 12px; ">
        Follow this link to <a href="http://www.google.com/">
            BulkAccountSolution
        </a>
    </span>

    <br />
    <br />
    <table style="font-family: Verdana; font-size: 12px; font-weight: bold; width: 100%;">
        <tr>
            <td colspan="2" style=" font-family: Rockwell;">
                <br />
                <span style="font-size: 12px;">JaizAlert</span>
                <br />
                <br />
                <span style="font-size: 11px;">
                    Visit our Website: <a href="http://www.jaizbankplc.com/">
                        www.jaizbankplc.com
                    </a>
                </span>
                <br />
                <br />
                <span style="color: #204114; font-size: 18px;">Jaiz Bank </span>
                <br />
                ...Non Interest Financial Institution.
                <br />
                <br />
            </td>
        </tr>
    </table>
</body>
</html>